<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Samsung Galaxy Note9</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo"><img src="../img/logo2.png" alt="logo"></div>
            <ul class="menu">
                <li><a href="../index.html">Главная</a></li>
                <li><a href="../catalog.html">Каталог</a></li>
                <li><a href="../contacts.html">Контакты</a></li>
            </ul>
        </div>
        <div class="h1">
            <h1>Samsung Galaxy Note9</h1>
        </div>
        <div class="content_good">
            <div class="img_good">
                <a href="../img/n9b.png" target="_blank"><img src="../img/n9m.png" alt="goods" title="Samsung Galaxy Note9"></a>
            </div>
            <div class="tabl_good">
                <table class="general_char">
                    <tr>
                        <td colspan="2">
                            <h3>Характеристики товара:</h3>
                        </td>
                    </tr>
                    <tr>
                        <td> Тип </td>
                        <td>смартфон</td>
                    </tr>
                    <tr>
                        <td>Операционная система</td>
                        <td>Android 8.1</td>
                    </tr>
                    <tr>
                        <td>Тип корпуса</td>
                        <td>классический</td>
                    </tr>
                    <tr>
                        <td>Материал корпуса</td>
                        <td>металл и стекло</td>
                    </tr>
                    <tr>
                        <td>Конструкция</td>
                        <td>водозащита</td>
                    </tr>
                    <tr>
                        <td>Количество SIM-карт</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Тип SIM-карты </td>
                        <td>nano SIM</td>
                    </tr>
                    <tr>
                        <td>Режим работы нескольких SIM-карт</td>
                        <td>попеременный</td>
                    </tr>
                    <tr>
                        <td>Поддержка MST</td>
                        <td>есть</td>
                    </tr>
                    <tr>
                        <td>Вес</td>
                        <td>201 г</td>
                    </tr>
                    <tr>
                        <td>Размеры (ШxВxТ)</td>
                        <td>76.4x161.9x8.8 мм</td>
                    </tr>
                </table>
            </div>
            <div class="bottom">
                <input id="submit" value="Купить" type="submit">
            </div>
            <div class="sort_descript">
                <p>Встречайте новый флагман Samsung Galaxy Note9!
                    <br> Аппарат работает с картами Nano-SIM всех GSM операторов.</p>
            </div>
            <h3>Подробное описание товара</h3>
            <div class="full_descript">
                <p class="descript"> Новый флагманский смартфон Galaxy Note9&nbsp;&mdash; устройство с&nbsp;высокой производительностью и&nbsp;объемом встроенной памяти, продолжительным сроком работы без подзарядки, новым электроннымпером S&nbsp;Pen и&nbsp;интеллектуальной камерой.
                    <br> Храните больше, удаляйте меньше
                    <br> Поддержка карт microSD дает возможность расширить пространство для хранения контента пользователя и&nbsp;поместить все любимые фото, видео и&nbsp;приложения владельца устройства.
                    <br> Увеличенный срок автономной работы
                    <br> Новый Note9 получил аккумулятор емкостью 4000 мАч&nbsp;&mdash; это самая мощная батарея в&nbsp;линейке флагманских смартфонов Samsung Galaxy. Заряда аккумулятора хватит для того, чтобы говорить по&nbsp;телефону, отправлять текстовые сообщения, играть в&nbsp;игры и&nbsp;смотреть фильмы с&nbsp;утра и&nbsp;до&nbsp;самого вечера.
                    <br> Новое электронное перо S&nbsp;Pen c&nbsp;поддержкой Bluetooth
                    <br> Достаточно одного нажатия на&nbsp;кнопку, чтобы сделать селфи и&nbsp;групповое фото, перелистнуть слайд презентации в&nbsp;режиме&nbsp;ПК (DeX), поставить на&nbsp;паузу или запустить видео, и&nbsp;многое другое.
                    <br> Превратите смартфон в&nbsp;компьютер
                    <br> На&nbsp;новом Note9 можно работать как на&nbsp;компьютере. Подключите смартфон к&nbsp;монитору посредством HDMI-кабеля, чтобы создавать презентации, редактировать фото и&nbsp;смотреть любимые шоу.</p>
                <!-- Текст оттипован в артЛебеде -->
                <h3>Объем встроенной памяти:</h3>
                <ul class="list">
                    <li>128 Gb.</li>
                    <li>512 Gb.</li>
                </ul>
                <h3>Аксессуары:</h3>
                <ul class="list">
                    <li>Защитные стекла</li>
                    <li>Фирменные чехлы</li>
                    <li>Док-станция DeX</li>
                    <li>Гарнитуры</li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <hr>
            <p>&copy;&nbsp;Все права защищены.</p>
        </div>
    </div>
</body>

</html>
