<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Apple iPhone XS Max 512GB</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo"><img src="../img/logo2.png" alt="logo"></div>
            <ul class="menu">
                <li><a href="../index.html">Главная</a></li>
                <li><a href="../catalog.html">Каталог</a></li>
                <li><a href="../contacts.html">Контакты</a></li>
            </ul>
        </div>
        <div class="h1">
            <h1>Apple iPhone XS Max 512GB</h1>
        </div>
        <div class="content_good">
            <div class="img_good">
                <a href="../img/xs_b.png" target="_blank"><img src="../img/xs_m.png" alt="apple iphone xs max" title="Apple Iphone XS MAX"></a></div>
            <div class="tabl_good">
                <table class="general_char">
                    <tr>
                        <td colspan="2">
                            <h3>Характеристики товара:</h3>
                        </td>
                    </tr>
                    <tr>
                        <td> Тип </td>
                        <td>смартфон</td>
                    </tr>
                    <tr>
                        <td>Операционная система</td>
                        <td>iOS 12</td>
                    </tr>
                    <tr>
                        <td>Тип корпуса</td>
                        <td>классический</td>
                    </tr>
                    <tr>
                        <td>Материал корпуса</td>
                        <td>металл и стекло</td>
                    </tr>
                    <tr>
                        <td>Конструкция</td>
                        <td>водозащита</td>
                    </tr>
                    <tr>
                        <td>Количество SIM-карт</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Тип SIM-карты </td>
                        <td>nano SIM+eSIM</td>
                    </tr>
                    <tr>
                        <td>Вес</td>
                        <td>208 г</td>
                    </tr>
                    <tr>
                        <td>Размеры (ШxВxТ)</td>
                        <td>77.4x157.5x7.7 мм</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <p>Производитель оставляет за собой право менять характеристики товара без предварительного уведомления дистибьютеров.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="bottom"><input id="submit" value="Купить" type="submit"></div>
            <div class="sort_descript">
                <p class="sort_descript">У iPhone Xs Max потрясающий дисплей Super Retina с диагональю 6,5 дюйма, более быстрая улучшенная двойная камера, открывающая невероятные возможности для съёмки фото и видео, более быстрая технология Face ID, более объёмный стереозвук и великолепный новый золотой оттенок. Впервые iPhone оснащён процессором A12 Bionic с системой Neural Engine нового поколения и поддерживает две сим-карты.</p>
            </div>
            <h3 class="heading">Подробное описание товара</h3>
            <div class="full_descript">
                <p class="descript"><b>Герой большого экрана</b>
                    <br>Дисплей Super Retina&nbsp;6,5 дюйма&nbsp;&mdash; самый большой в&nbsp;истории iPhone. Улучшенный Face ID. Самый мощный и&nbsp;умный процессор iPhone. И&nbsp;потрясающая двойная камера. В&nbsp;iPhone Xs&nbsp;Max воплощено всё, что вы&nbsp;любите в&nbsp;iPhone. На&nbsp;новом уровне.
                    <br>Super Retina
                    <br>Супер размеры iPhone Xs&nbsp;Max оснащён HDR-дисплеем Super Retina с&nbsp;диагональю 6,5&nbsp;дюйма. Панели OLED обеспечивают наилучшую цветопередачу, глубокие чёрные цвета и&nbsp;впечатляющую яркость.
                    <br>Улучшенный Face ID
                    <br>С&nbsp;улучшенной технологией Face ID&nbsp;можно безопасно разблокировать iPhone и&nbsp;входить в&nbsp;учётные записи приложений буквально одним взглядом.
                    <br>Мощный процессор A12 Bionic
                    <br>Процессор A12 Bionic с&nbsp;системой Neural Engine нового поколения использует технологии машинного обучения и&nbsp;открывает невероятные возможности для фотографии, игр, дополненной реальности и&nbsp;многого другого.
                    <br>Передовая двойная камера
                    <br>Потрясающая двойная камера 12&nbsp;Мп с&nbsp;режимом &laquo;Портрет&raquo;, функцией портретного освещения, улучшенным эффектом боке и&nbsp;совершенно новой функцией &laquo;Глубина&raquo; позволяет взглянуть на&nbsp;портретную съёмку по-новому.</p>
            </div>
            <!-- Текст оттипован в артЛебеде -->
            <h3>Аксессуары</h3>
            <ul class="list">
                <li>Защитные стекла</li>
                <li>Фирменные чехлы</li>
                <li>Гарнитуры</li>
            </ul>
        </div>
        <div class="footer">
            <hr>
            <p>&copy; Все права защищены.</p>
        </div>
    </div>
</body>

</html>
